* {
  margin: 0px;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
}
.sidemenu {
  width: 240px;
  height: 100vh;
  background-color: #d3d3d3;
}

/* sidemenu css classes */

.heading {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #17315e;
}
.heading img {
  height: 30px;
  margin: 20px 0px 20px 10px;
  color: #ffffff;
}
.heading p {
  margin: 0px 0px 0px 10px;
  font-size: larger;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.sidebar {
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding-inline-start: 0px;
}

.sidebar li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #ffffff;
}
.sidebar li:hover {
  background-color: #214687;
  color: #ffffff;
}
.group {
  display: flex;
  align-items: center;
}
.icon {
  height: 30px;
  margin: 20px 0px 20px 15px;
}
.lable {
  margin: 0px 0px 0px 15px;
  font-family: "Roboto", sans-serif;
}
.arrow {
  height: 15px;
  margin: 20px 0px 20px 15px;
  padding-right: 10px;
}

/* pagecontent css classes */
.pagecontent {
  width: calc(100% - 240px);
  height: 100%;
  border-left: 1px solid #d3d3d3;
  background-color: #f8c8d0;
}

/* Horizontalmenu css classes */

.horizontalmenu {
  width: 100%;
  height: 50px;
  background-color: #6c7993;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #17315e;
}
.left {
  width: 25%;
  height: 100%;
  float: left;
  padding-left: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.icon1 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon1:hover {
  cursor: pointer;
  background-color: #0079c1;
}
.text {
  margin-right: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.right {
  width: 35%;
  height: 100%;
  padding-left: 10px;
  float: right;
  display: flex;
  justify-content: end;
  align-items: center;
}
.search-box {
  height: 15px;
  border-radius: 10px;
  padding: 5px;
  margin-right: 30px;
  display: flex;
  justify-content: start;
  background-color: #ffffff;
}
.search-text {
  border: none;
  background: none;
  outline: none;
  padding: 5px;
  margin-right: 5px;
  float: left;
}
.search-btn {
  color: #808080;
  float: right;
}
.usericon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 30px;
}
.usericon:hover {
  cursor: pointer;
  background-color: #00ff7f;
}

/* Cards css classes */
.cards {
  width: 100%;
  height: calc(100% - 50px);
  background-color: #ffffff;
  padding: 10px 0px 10px 0px;
}
.cards h2 {
  margin: 50px 0px 0px 35px;
  font-family: "Roboto", sans-serif;
}

/* uppercardsset css classes */
.uppercards {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
}
.card1 {
  width: 22%;
  height: 100%;
  border-radius: 4px;
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 5px #f0f2f5;
  background-color: #ffffff;
}
.card1 h3 {
  font-family: "Roboto", sans-serif;
}
.brands {
  color: #1877f2;
  font-size: xx-large;
}
.cardpara {
  margin: 15px 20px 10px 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/* lowercardsset css classes */

.lowercards {
  width: 100%;
  height: 100%;
  padding: 40px 0px 40px 0px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
}
.card2 {
  width: 22%;
  height: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 5px #f0f2f5;
  background-color: #ffffff;
}
.top {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.cardimage {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: -43px;
}
.personname {
  color: #1877f2;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
.designation {
  font-family: "Roboto", sans-serif;
}
.middle {
  width: 100%;
  height: 50%;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #ffffff;
}
.cardparas {
  font-family: "Roboto", sans-serif;
}
.bottom {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
.bottomicons {
  margin-right: 15px;
}

/* Table css classes */

.tablesection {
  width: 100%;
  height: 100%;
  padding: 10px 0px 10px 0px;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.tablesection h2 {
  margin-left: 25px;
  margin-top: 0px;
}
.tablecard {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
}

.tablesec {
  width: 100%;
  height: 100%;
  border: 0px solid #d3d3d3;
  border-spacing: 0px;
  border-radius: 5px;
}

.tablesec td,
.tablesec th {
  text-align: center;
  border: 1px solid #d3d3d3;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.tablesec th:first-of-type {
  border-top-left-radius: 5px;
}
.tablesec th:last-of-type {
  border-top-right-radius: 5px;
}
.tablesec tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 5px;
}
.tablesec tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 5px;
}

.firstname,
.progresscolumn {
  text-align: left;
  border: 1px solid #d3d3d3;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}
.bar {
  width: 200px;
  height: 10px;
  background-color: #d3d3d3;
  border-radius: 5px;
}
.fill {
  width: 60%;
  height: 100%;
  border-radius: 5px;
  background-color: #d93c98;
}
.tablesec tr:hover {
  cursor: pointer;
  background-color: #214687;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .sidemenu {
    display: none;
  }
  .horizontalmenu {
    display: none;
  }
  .pagecontent {
    width: 100%;
  }
  .uppercards {
    width: 100%;
    flex-wrap: wrap;
  }
  .card1 {
    width: 44%;
    margin: 15px 0px 15px 0px;
  }
  .lowercards {
    width: 100%;
    flex-wrap: wrap;
  }
  .card2 {
    width: 44%;
    margin: 25px 0px 25px 0px;
  }
  .tablesection {
    width: 100%;
  }
  .tablecard {
    width: 100%;
    overflow: auto;
  }
  tablesec {
    table-layout: fixed;
  }
}
