* {
  margin: 0px;
}

.heading {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.view {
  width: 900px;
  margin: 40px auto;
  background-color: white;
}

.parentdiv {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  background-color: white;
}

.left {
  width: 30%;
  float: left;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.right {
  width: 67%;
  float: right;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
}

.inputfield {
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
  font-family: "Roboto", sans-serif;
}

.inputfield:focus {
  outline: 1px solid red;
}

.password {
  width: 98%;
  flex-direction: column;
}
.passwordfield {
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
.passwordfield:focus {
  outline: 1px solid red;
}
.passwordtext {
  font-family: "Roboto", sans-serif;
}

.radio {
  margin-right: 20px;
}

.textareatag {
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  padding-left: 5px;
}

.textareatag:focus {
  outline: 1px solid red;
}

.selecttag {
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 0px 5px 5px;
  font-family: "Roboto", sans-serif;
}

.selecttag:focus {
  outline: 1px solid red;
}

.checkboxparent {
  width: 5%;
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 194, 194);
  padding: 6px 6px 6px 6px;
}

.lable {
  width: 95%;
  border: 1px solid;
  border-radius: 3px;
  border-left: none;
  padding: 3px 5px 3px 5px;
  font-family: "Roboto", sans-serif;
}

.button {
  width: 10%;
  background-color: #04c35c;
  color: white;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: blue;
}
