* {
  margin: 0px;
}
.view {
  width: 100%;
  height: 100%;
  background-color: white;
}
.sidebar {
  height: 100%;
  width: 250px;
  background-color: white;
}
.ul {
  list-style: none;
  padding-inline-start: 0px;
}
.heading {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.logo {
  height: 40px;
  margin: 20px 0px 20px 10px;
}
.headingtext {
  margin: 0px 0px 0px 10px;
  /* font-size: 2em; */
  font-size: x-large;
  font-family: "Roboto", sans-serif;
}

.icon {
  height: 30px;
  margin: 20px 0px 20px 15px;
}
.arrow {
  height: 15px;
  margin: 20px 0px 20px 15px;
  padding-right: 10px;
}
.lable {
  margin: 0px 0px 0px 15px;
  font-family: "Roboto", sans-serif;
}

.group {
  display: flex;
  align-items: center;
}
.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(206, 198, 198, 0.63);
}

.list:hover {
  background-color: red;
}
